<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{text}}</h1>
    <button id = "btn">btn</button>
    <div id="result"></div>
    <script>
        function answers(){
    query = '/save';
    console.log(query);
    fetch(query).then(response => response.json())
    .then(function (quiz) {
    //   question.innerHTML=quiz.question_arr[0];
    //   title.innerHTML = quiz.title_arr[0];
    //   a1.innerHTML = quiz.a1_arr[0];
    //   a2.innerHTML = quiz.a2_arr[0];
    //   a3.innerHTML = quiz.a3_arr[0];
    //   a4.innerHTML = quiz.a4_arr[0];
    //   answer.innerHTML = quiz.answer_arr[0];
      
    //   n_right_answer = quiz.n_right_answer_arr[0];
    //   n_question.value = quiz.total_n;
      console.log(quiz.length);
      console.log(quiz[0]);
      for (let i=0;i<quiz.length;i++){
        console.log(quiz[i]);
        let el = document.createElement("div");
        el.innerHTML = quiz[i].id;
        result.appendChild(el);
      }
        
    });
  }

btn.addEventListener("click",answers);
    </script>
    <!-- <script src = "{{ url_for('static', filename='js/js.js') }}"></script> -->
</body>
</html>